<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
  <appSettings>
    <add key="dbconn" value="Data Source=syn-sql-01;Initial Catalog=nitesh.pal;Persist Security Info=True;User ID=nitesh.pal; Password=Elephant@098765; Timeout=120;" />
  </appSettings>
</configuration>